<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Kitchen supply" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
<div class="flex-1 flex flex-col">
		<nav class="px-4 flex justify-between bg-gray h-16">
    <a class="text-gray-800 text-center flex flex-col rounded-xl justify-center items-center mr-5 p-1 border-2 p-3" href="/"> Список шаблонов </a>
		</nav>
	</div>
  <%= @inner_content %>
  </body>
</html>
